#messages {
  height: 65vh;
  overflow-y: scroll; /* vertical scroll for the messages */
  background-color: rgba(141, 141, 141, .3);
  border-radius: .3rem;
}

.received, .sent {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-radius: 1rem;
  max-width: 20em;
}

.received {
  background-color: var(--color2);
}

.sent {
  background-color: #2a3750;
  color: white;
}

.admin {
  color: var(--color3);
}

.author {
  color: rgba(130, 130, 130, 1);
  margin-top: -0.2rem;
  font-size: .8rem;
}

#chat {
  display: none;
}