#messages {
  height: calc(100vh - 375px); /* accounts for lead size */
  overflow-y: scroll; /* vertical scroll for the messages */
}

@media (min-width: 411px) {
    #messages {
      height: calc(100vh - 335px); /* accounts for lead size */
    }
}

@media (min-width: 768px) {
    #messages {
      height: calc(100vh - 325px); /* accounts for lead size */
    }
}

@media (min-width: 992px) {
    #messages {
      height: calc(100vh - 295px); /* space for fixed navbar (50px), "main" title (140px), footer (52px) */
    }
}


.received, .sent {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-radius: 1rem;
  max-width: 20em;
  box-sizing: border-box;
  display: inline-block;
}

.received {
  background-color: rgba(141, 141, 141, .5);
  color: #1a1a1a;
}

.sent {
  background-color: #2a3750;
  color: white;
}

.admin {
  color: #fca311;
}